/build/
tmp*
.DS_Store
electron_app/console/
electron_app/node_modules/
electron_app/dist/
electron_app/py/server
electron_app/py/connector
electron_app/python_bundles
console/
dist/
opt*.zip
node_modules/
!nnc-web/**/dist

nnabla-workdir
.node-version
.python-version